/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 h2 {
   color: #151E3F;
 }

 p {
  color: #030027;
 }

 a,
 .a {
  text-decoration: none;
 }

.btn-blue {
  background-color: #151E3F;
  color: #F2F3D9;
  padding: 1%;
  border-radius: 3%;
  margin: 1%;
}

.btn-orange {
  background-color: #FF9F1C;
  color: #F2F3D9;
  padding: 1%;
  border-radius: 3%;
  margin: 1%;
}

.btn-red {
  background-color: #E71D36;
  color: #F2F3D9;
  padding: 1%;
  border-radius: 3%;
  margin: 1%;
}

 nav {
  background-color: #151E3F;
 }

 nav h1 {
  color: #FF9F1C;
 }

 footer h1 {
  color: #FF9F1C;
 }

#list {
  color: #FF9F1C;
}

li{
  list-style-type: none;
}

 .background {
  background-color: #F2F3D9;
 }
